<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>BuildCity</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body>

<!-- Navigation -->
<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
    <div class="container">

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a>

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text" href="index.html">Desi</a> -->

        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#header">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item dropdown " sec:authorize="!isAuthenticated()">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><i
                            class="far fa-user"></i></a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li>
                            <div class="text-center">
                                <a href="/login" class="btn btn-rounded mb-4 text-white">Log in</a>
                            </div>
                        </li>
                        <li>
                            <div class="text-center">
                                <a href="/registration" class="btn btn-rounded mb-4 text-white">Sign up</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                       data-bs-toggle="dropdown" aria-expanded="true" sec:authentication="name">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/UserProfile">Your profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!-- end of navbar-collapse -->
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->


<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="h1-large">The best building materials store in the world</h1>
                    <a class="btn-solid-lg" href="#projects">Discover</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->

    <!-- Video Background -->
    <video autoplay loop muted id="video-background" poster="images/header-background.jpg" playsinline>
        <source src="images/header-background-video.mp4" type="video/mp4"/>
    </video>
    <!-- end of video background -->

</header> <!-- end of header -->
<!-- end of header -->

<!-- Projects -->
<div id="projects" class="filter bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Our products</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Filter -->
                <div class="button-group filters-button-group">
                    <button class="button is-checked" data-filter="*">SHOW ALL</button>
                    <button class="button" data-filter=".business">DECORATION</button>
                    <button class="button" data-filter=".finance">WINDOWS</button>
                    <button class="button" data-filter=".software">FLOOR</button>
                </div> <!-- end of button group -->
                <div class="grid">
                    <div class="element-item business" id="1">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_1.png" alt="alternative">
                            <p><strong>Stone artificial Artens gray</strong>
                                - gypsum-based finishing material, intended for internal use.
                                Made from lightweight material</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="1">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_1"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(1)}"></button>
                                    <a href="add_material_1"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>340 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item business" id="2">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_2.png" alt="alternative">
                            <p><strong>Stone artificial White Hillsy</strong> - decorative stone, characterized by high
                                strength, durability and moisture resistance</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="2">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_2"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(2)}"></button>
                                    <a href="add_material_2"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>1 790 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item business" id="3">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_3.png" alt="alternative">
                            <p><strong>Facade tiles HAUBERK terracotta brick</strong> -
                                modern cladding material that is used to decorate facades</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="3">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_3"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(3)}"></button>
                                    <a href="add_material_3"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>1 368 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item finance" id="4">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_4.png" alt="alternative">
                            <p><strong>Double plastic window</strong> - durable design for home or office.Advantages:
                                durability and low price.</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="4">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_4"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(4)}"></button>
                                    <a href="add_material_4"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>12 014 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item finance" id="5">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_5.png" alt="alternative">
                            <p><strong>Wooden window</strong> - it has a very aesthetic appearance, making the interior
                                more comfortable</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="5">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_5"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(5)}"></button>
                                    <a href="add_material_5"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>7 262 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item finance" id="6">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_6.png" alt="alternative">
                            <p><strong>Aluminum balcony railing</strong> - for non-residential premises (such as garage,
                                garden shed)</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="6">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_6"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(6)}"></button>
                                    <a href="add_material_6"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>1 998 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item software" id="7">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_7.png" alt="alternative">
                            <p><strong>Laminate Artens "Oak Gravis"</strong> - designed for the installation of flooring
                                in residential or commercial premises with high traffic</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="7">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_7"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(7)}"></button>
                                    <a href="add_material_7"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>1 890 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item software"id="8">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_8.png" alt="alternative">
                            <p><strong>Linoleum "Honey Oak"</strong> - Speed and ease of installation, Easy maintenance,
                                Moisture Resistance, Sound absorption</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="8">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_8"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(8)}"></button>
                                    <a href="add_material_8"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>320 ₽</button>
                            </div>
                        </div>
                    </div>
                    <div class="element-item software" id="9">
                        <a href="desi-2/article.html">
                            <img class="img-fluid" src="images/img_9.png" alt="alternative">
                            <p><strong>Laminate Artens Mongolian Oak grey</strong> - designed for the installation of
                                flooring in residential</p>
                        </a>
                        <div class="d-flex justify-content-between align-items-center pb-5" name="9">
                            <div class="">
                                <div class="product-links" sec:authorize="!isAuthenticated()">
                                    <button type="button" disabled class="btn btn-dark" th:text="Authorize"></button>
                                </div>
                                <div class="product-links" sec:authorize="isAuthenticated()">
                                    <a href="remove_material_9"><i class="fa fa-minus fa-lg"></i></a>
                                    <button type="button" disabled class="btn btn-dark"
                                            th:text="${#authentication.getPrincipal().getMaterialCount(9)}"></button>
                                    <a href="add_material_9"><i class="fa fa-plus fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-success sm" disabled>2 029 ₽</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of grid -->
                <!-- end of filter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->
<!-- end of projects -->


<!-- Testimonials -->
<div class="slider-1">
    <img class="text-decoration img-fluid" src="images/testimonials-decoration.png" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <img class="testimonial-image" src="images/testimonial-1.jpg" alt="alternative">
                                <p class="testimonial-text">“Expense bed any sister depend changer off piqued one.
                                    Contented continued any happiness instantly objection yet her allowance. Use correct
                                    day new brought tedious. By come this been in. Kept easy or sons my it how about
                                    some words here done”</p>
                                <div class="testimonial-author">Marlene Visconte</div>
                                <div class="testimonial-position">General Manager - Scouter</div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <img class="testimonial-image" src="images/testimonial-2.jpg" alt="alternative">
                                <p class="testimonial-text">“Expense bed any sister depend changer off piqued one.
                                    Contented continued any happiness instantly objection yet her allowance. Use correct
                                    day new brought tedious. By come this been in. Kept easy or sons my it how about
                                    some words here done”</p>
                                <div class="testimonial-author">John Spiker</div>
                                <div class="testimonial-position">Team Leader - Vanquish</div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <img class="testimonial-image" src="images/testimonial-3.jpg" alt="alternative">
                                <p class="testimonial-text">“Expense bed any sister depend changer off piqued one.
                                    Contented continued any happiness instantly objection yet her allowance. Use correct
                                    day new brought tedious. By come this been in. Kept easy or sons my it how about
                                    some words here done”</p>
                                <div class="testimonial-author">Stella Virtuoso</div>
                                <div class="testimonial-position">Design Chief - Bikegirl</div>
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                        </div> <!-- end of swiper-wrapper -->

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of testimonials -->


<!-- Statistics -->
<div class="counter bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Counter -->
                <div class="counter-container">
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="2"
                             class="purecounter">1
                        </div>
                        <div class="counter-info">Happy Customers</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="50000" data-purecounter-duration="1.5"
                             class="purecounter">1
                        </div>
                        <div class="counter-info">Materials saled</div>
                    </div> <!-- end of counter-cell -->
                    <div class="counter-cell">
                        <div data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="2"
                             class="purecounter">1
                        </div>
                        <div class="counter-info">Good Reviews</div>
                    </div> <!-- end of counter-cell -->
                </div> <!-- end of counter-container -->
                <!-- end of counter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of counter -->
<!-- end of statistics -->


<!-- Contact -->
<div id="contact" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Contact details</h2>
                <p class="p-heading">Of will at sell well at as. Too want but tall nay like old removing yourself
                    today</p>
                <ul class="list-unstyled li-space-lg">
                    <li><i class="fas fa-map-marker-alt"></i> &nbsp;78 Vernadsky Avenue, Moscow, Central Federal District, Russia</li>
                    <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:00817202212">+7 985 (366)-14-11</a></li>
                    <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:contact@site.com">polosatay_zebra@mail.ru</a>
                    </li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1" id="feedback">

                <!-- Contact Form -->
                <form action="/index" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control-input" placeholder="Name" required="true"
                               name="name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" placeholder="Email" required="true"
                               name="email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-textarea" placeholder="Message" required="true"
                                  name="messageText"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Submit</button>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div th:if="${infoSetting}">
            <div class="alert alert-success" th:text="${message}">
            </div>
        </div>
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of contact -->


<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-col first">
                    <h6>About BuildCity</h6>
                    <p class="p-small">An advanced store in the field of building materials</p>
                </div> <!-- end of footer-col -->
                <div class="footer-col second">
                    <h6>Links</h6>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li>Important: <a href="desi-2/terms.html">Terms & Conditions</a>, <a
                                href="desi-2/privacy.html">Privacy Policy</a></li>
                        <li>Useful: <a href="#">Colorpicker</a>, <a href="#">Icon Library</a>, <a
                                href="#">Illustrations</a></li>
                        <li>Menu: <a href="#header">Home</a>, <a href="#services">Services</a>, <a href="#projects">Projects</a>,
                            <a href="#contact">Contact</a></li>
                    </ul>
                </div> <!-- end of footer-col -->
                <div class="footer-col third">
                        <span class="fa-stack">
                            <a href="https://stackoverflow.com">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-stack-overflow fa-stack-1x"></i>
                            </a>
                        </span>
                    <span class="fa-stack">
                            <a href="https://github.com/HukoJlauII">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x"></i>
                            </a>
                        </span>
                    <span class="fa-stack">
                            <a href="https://steamcommunity.com/profiles/76561198970625976/">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-steam fa-stack-1x"></i>
                            </a>
                        </span>
                    <span class="fa-stack">
                            <a href="https://www.instagram.com">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                    <p class="p-small">We would love to hear from you <a href="mailto:contact@site.com"><strong>polosatay_zebra@mail.ru</strong></a>
                    </p>
                </div> <!-- end of footer-col -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © <a href="#">Glushko Nikita</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
    <img src="images/up-arrow.png" alt="alternative">
</button>
<!-- end of back to top button -->

<!-- Scripts -->
<script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
<script src="js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
<script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>